[submodule "u-boot"]
	path = u-boot
	url = git@github.com:experientials/u-boot.git
[submodule "buildroot"]
	path = buildroot
	url = git@github.com:experientials/buildroot.git
[submodule "kernel"]
	path = kernel
	url = https://digitalgap@gitlab.com/firefly-linux/kernel
[submodule "tools"]
	path = tools
	url = https://digitalgap@gitlab.com/firefly-linux/tools
	
[submodule "rkbin"]
	path = rkbin
	url = https://digitalgap@gitlab.com/firefly-linux/rkbin
