[submodule "u-boot"]
	path = u-boot
	url = git@github.com:experientials/u-boot.git
[submodule "buildroot"]
	path = buildroot
	url = git@github.com:experientials/buildroot.git
[submodule "tools"]
	path = tools
	url = git@github.com:thepia/firmware-tools.git
