[submodule "u-boot"]
	path = u-boot
	url = git@github.com:experientials/u-boot.git
[submodule "buildroot"]
	path = buildroot
	url = git@github.com:experientials/buildroot.git
[submodule "kernel"]
	path = kernel
	url = git@github.com:experientials/linux.git
[submodule "tools"]
	path = tools
	url = https://digitalgap@gitlab.com/firefly-linux/tools
	
[submodule "rkbin"]
	path = rkbin
	url = https://digitalgap@gitlab.com/firefly-linux/rkbin
[submodule "app"]
	path = app
	url = git@github.com:experientials/rockchip-app.git
[submodule "external"]
	path = external
	url = git@github.com:experientials/rockchip-external.git
[submodule "prebuilts/gcc/linux-x86/aarch64/gcc-linaro-6.3.1-2017.05-x86_64_arm-linux-gnueabihf"]
	path = prebuilts/gcc/linux-x86/aarch64/gcc-linaro-6.3.1-2017.05-x86_64_arm-linux-gnueabihf
	url = git@github.com:rockchip-linux/gcc-linaro-6.3.1-2017.05-x86_64_arm-linux-gnueabihf.git
[submodule "prebuilts/gcc/linux-x86/arm/gcc-linaro-6.3.1-2017.05-x86_64_arm-linux-gnueabihf"]
	path = prebuilts/gcc/linux-x86/arm/gcc-linaro-6.3.1-2017.05-x86_64_arm-linux-gnueabihf
	url = git@github.com:rockchip-linux/gcc-linaro-6.3.1-2017.05-x86_64_arm-linux-gnueabihf.git
[submodule "prebuilts/gcc/linux-x86/aarch64/gcc-linaro-6.3.1-2017.05-x86_64_aarch64-linux-gnu"]
	path = prebuilts/gcc/linux-x86/aarch64/gcc-linaro-6.3.1-2017.05-x86_64_aarch64-linux-gnu
	url = https://digitalgap@gitlab.com/firefly-linux/prebuilts/gcc/linux-x86/aarch64/gcc-linaro-6.3.1-2017.05-x86_64_aarch64-linux-gnu
[submodule "prebuilts/gcc/linux-x86/arm/gcc-arm-8.3-2019.03-x86_64-arm-linux-gnueabihf"]
	path = prebuilts/gcc/linux-x86/arm/gcc-arm-8.3-2019.03-x86_64-arm-linux-gnueabihf
	url = https://digitalgap@gitlab.com/firefly-linux/prebuilts/gcc/linux-x86/arm/gcc-arm-8.3-2019.03-x86_64-arm-linux-gnueabihf
